/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
/* header section styles */
header{
    background-color: #562EFF;
    
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 870px;
    height: 94px;
    margin: 0 auto;
}
.logo-img{
    width: 140px;
}
nav{
    display: flex;
    align-items: center;
}
nav, nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding-right: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
/* top player section styles */
.container{
    width: 870px;
    background-color: white;
    padding: 30px;
    margin-top: 43px;
    border-radius: 5px;
}
.section-title{
    color: #562EFF;
    margin-bottom: 40px;
    font-weight: normal;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player-img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
}